In [14]:
import pandas as pd
import seaborn as sns

In [16]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [3]:
test_ids = test_data["PassengerId"]
train_data = train_data.drop(['Ticket','Cabin','Name','PassengerId'],axis=1)
test_data =  test_data.drop(['Ticket','Cabin','Name','PassengerId'],axis=1)

to_clean = ['SibSp','Parch','Age','Fare']
for columns in to_clean:
    train_data[columns].fillna(train_data[columns].median(), inplace=True)
    test_data[columns].fillna(test_data[columns].median(), inplace=True)
train_data.Embarked.fillna('U',inplace=True)
test_data.Embarked.fillna('U',inplace=True)
train_data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [4]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
columns = ['Sex','Embarked']
for col in columns:
    train_data[col] = le.fit_transform(train_data[col])
    test_data[col] = le.fit_transform(test_data[col])
    print(le.classes_)

train_data.head()

['female' 'male']
['C' 'Q' 'S']

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [5]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

Y = train_data['Survived']
X = train_data.drop("Survived",axis=1)

x_train, x_val, y_train, y_val = train_test_split(X,Y,test_size=0.2,random_state=42)
clf = LogisticRegression(random_state=0, max_iter=1000).fit(x_train, y_train)

In [6]:
predictions = clf.predict(x_val)
predictions

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 1], dtype=int64)

In [19]:
from sklearn.linear_model import LinearRegression
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error

clf2 = LinearRegression()
clf2.fit(x_train,y_train)
predictions2 = clf2.predict(x_val)
list1 = [1 if x>=0.5 else 0 for x in predictions2]
list1 = np.array(list1)

print(accuracy_score(y_val,predictions))
print(accuracy_score(y_val,list1))

0.8100558659217877
0.7932960893854749

In [8]:
from sklearn.neighbors import KNeighborsClassifier

classifier = KNeighborsClassifier(n_neighbors=5)
classifier.fit(x_train,y_train)

predictions3 = classifier.predict(x_val)
predictions3
accuracy_score(y_val,predictions3)

0.7206703910614525

In [9]:
from sklearn import tree

treee = tree.DecisionTreeClassifier()
treee = treee.fit(x_train,y_train)

In [10]:
prediction4 = treee.predict(test_data)